/sdldoom-1.10/confdefs.h
/sdldoom-1.10/doom
/sdldoom-1.10/doom.wasm
/sdldoom-1.10/doom1.wad
/sdldoom-1.10/conftest*
/sdldoom-1.10/index.*
Makefile
*.o
*.bc
*.cache
*.log
*.status
.vercel
.env*.local
public/*
